@media screen, projection {
  

    .content-primary a.extern,
    .piratenkleider-optionen #liopt1 a.extern    {
        background: url("../images/links/extern.gif") center left no-repeat;
		background-position: 1px;
        padding-left: 12px;
    }

    .content-primary a[href ^="mailto:"],
    .piratenkleider-optionen #liopt1 a[href ^="mailto:"]    {
        background: url(../images/links/mail.gif) top right no-repeat;
        padding-right: 18px;
        padding-left: 0px;
        margin-right: 4px;
    }

    .content-primary a.nolinkicon {
            background: none;
            padding-right: 0;
    }

}