/* 
    Document   : font-bebas-politicshead.css
    Created on : 11.02.2014
    Author     : stoppegp
    Description:
      Font-Face Definition: Font Bebas Neue, Politics Head
}
*/

@font-face {
  font-family: 'FontPiratenkleiderHeadlines';
  src: url("../fonts/politicshead-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/politicshead-webfont.ttf") format("truetype");  
  font-weight: normal;
  font-style: normal; 
}
@font-face {
  font-family: 'FontPiratenkleiderMenu';
  src: url("../fonts/BebasNeue-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/BebasNeue-webfont.ttf") format("truetype");  
  font-weight: normal;
  font-style: normal; 
}
@font-face {
  font-family: 'FontPiratenkleiderDefault';
  src: url('../fonts/dejaweb-webfont.eot');
  src: url('../fonts/dejaweb-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/dejaweb-webfont.woff') format('woff'),
         url('../fonts/dejaweb-webfont.ttf') format('truetype'); 
  font-weight: normal;
  font-style: normal; 
}
h1,h2,h3,h4,h5,h6 {
    letter-spacing: 0px;
}


